.hidden{
    display: none !important;
    visibility: hidden;
}
.content-container{
    background-color: transparent;
    text-align: center;
    margin: 0;
}
section{
    margin: 0;
}
#screen2 input{
    display: inline-block;
}
#screen2 .points{
    margin: .5em;
    display: inline-block;
}
#screen2 .points input{
    margin-top: .5em;
}
#screen2 input[type=submit]{
    position: relative;
    bottom: 3px;
}
#staging, #tables ul{
    display: inline-block;
    text-align: left;
}
#tables ul li{
    list-style: none;
}
.name{
    min-width: 100px;
    display: inline-block;
    height: 40px;
}
#staging .name{
    margin-left: 32px;
}
#reorder{
    margin-top: 1em;
}
#custom-matching-reminder{
    color: green;
    padding-top: 1em;
}
#tables{
    display: inline-flex;
    width: 100%;
}
#tables em{
    padding-top: 5em;
    width: inherit;
}
#tables li{
    padding: .3em;
}
.controls div{
    margin-bottom: 1em;
    display: block;
}
.winner{
    font-weight: bold;
}
.place {
    font-weight: bold;
    border-right: 1px solid lightgrey;
    position: absolute;
    width: 28px;
    height: 100%;
    padding: 8px 10px 12px 0;
}
header{
    color: white;
}
header *{
    display: inline-block;
}
header h4{
    margin: 0;
    position: relative;
    top: 7px;
    right: 14px;
}
.close.delete-player{
    position: relative;
    bottom: 2px;
    left: 4px;
    opacity: .2 !important;
    margin-right: 4px;
}
.close.delete-player:hover{
    position: relative;
    bottom: 2px;
    left: 4px;
    opacity: .7 !important;
}
.card-container{
    margin: 0 auto;
    margin-bottom: 1em;
}
.row{
    padding-bottom: 2em;
}
.list-group-item {
    padding: 0.5rem 1rem;
}
.card-body ul{
    padding: 0;
}
@media screen and (max-width: 1220px){
    .row{
        flex-direction: column;
    }
    .players, .tables{
        max-width: 100%;
    }
    .card-container .card{
        margin: 0 auto;
    }
    #staging{
        display: block;
    }
}